.subHeader{

    margin-bottom: 24px;

}   

.icon-contact-language{
    display: flex;
    height: 10rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #fff ;
    color: #9cc3d5;
    border-radius: 100%;
    margin-top: 8px;
    
}
.languageText{

font-size: 24px;

}

.educationStyle{

  margin-top: 24px;

}

.subSubHeader{

  margin-top: 3rem;

}
.educationSub{

  font-size: 32px;

}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar{

width: 1em;
}


::-webkit-scrollbar-track{

  background-color:#9cc3d5;
  border-radius: 100vw;

}

::-webkit-scrollbar-thumb{

  background-color:#0063b2;
  border-radius: 100vw;;
  border: 2px solid #9cc3d5;
}
::-webkit-scrollbar-thumb:hover{

  background-color:#00477f;

}

.logo {
  position: relative  ;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
overflow:hidden;
  z-index: 1000;
  margin-bottom: 3vh;
  
}

.logo::before {
  content: "";
  background: url(../assets/img/avataaars2.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  background-size: cover;
  border-radius: 50%;
}

.logo::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: hsla(199, 40%, 72%, 1);
  top: 80%;
  left: -50%;
  border-radius: 35%;
  animation: waves 5s ease-in-out alternate infinite;
}

@keyframes waves {
  to {
    transform: translateY(0%) rotate(180deg);
  }
}

.logoContainer{
animation: bob 5s ease-in-out alternate infinite;
}
.logoContainer:active{
  animation: bob 100ms ease-in-out alternate infinite;
}
@keyframes bob {
  to{
    transform: translateY(10%);
  }
}
@keyframes bobSpeed {
  to{
    transform: translateY(10%);
  }
}


  ;


  